## Transferring flat file database to PostgreSQL

While flat files are convenient for research, for our recommender server, we move to a locally hosted PostgreSQL database.

We first need to determine the schema of the database. To do this, we consider the types of each column.

In [1]:
import pandas as pd

In [6]:
df = pd.read_parquet('../data/tr_data/2009-01.parquet')
df.dtypes

pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
passenger_count               int64
trip_distance               float64
payment_type                 object
fare_amount                 float64
tip_amount                  float64
trip_time_in_secs           float64
fare_per_sec                float64
day                          object
time                         object
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
dtype: object

We first note that we do not use payment type in our analysis. We drop this column globally.

In [16]:
date_ptr = '2009-01'

while date_ptr != '2024-01':
    date_data = pd.read_parquet(f'../data/tr_data/{date_ptr}.parquet')
    if 'payment_type' in date_data:
        date_data = date_data.drop(columns=['payment_type'])
    date_data.to_parquet(f'../data/tr_data/{date_ptr}.parquet')
    date_ptr = (pd.to_datetime(date_ptr) + pd.DateOffset(months=1)).strftime('%Y-%m')

Now reading our dataframe again.

In [18]:
df = pd.read_parquet('../data/tr_data/2009-01.parquet')
df.dtypes

pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
passenger_count               int64
trip_distance               float64
fare_amount                 float64
tip_amount                  float64
trip_time_in_secs           float64
fare_per_sec                float64
day                          object
time                         object
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
dtype: object

These are the following data type mappings to SQL
- `pickup_datetime`: `TIMESTAMP`
- `dropoff_datetime`: `TIMESTAMP`
- `pasenger_count`: `INTEGER`
- `trip_distance`: `NUMERIC`
- `fare_amount`: `NUMERIC`
- `tip_amount`: `NUMERIC`
- `trip_time_in_secs`: `NUMERIC`
- `fare_per_sec`: `NUMERIC`
- `day`: `TEXT`
- `time`: `TIME`
- `pickup_longitude`: `NUMERIC`
- `pickup_latitude`: `NUMERIC`
- `dropoff_longitude`: `NUMERIC`
- `dropoff_latitude`: `NUMERIC`

Therfore, our schema becomes:

In [ ]:
CREATE TABLE trips (
    pickup_datetime TIMESTAMP,
    dropoff_datetime TIMESTAMP,
    passenger_count INTEGER,
    trip_distance NUMERIC,
    fare_amount NUMERIC,
    tip_amount NUMERIC,
    trip_time_in_secs NUMERIC,
    fare_per_sec NUMERIC,
    day TEXT,
    "time" TIME,
    pickup_longitude NUMERIC,
    pickup_latitude NUMERIC,
    dropoff_longitude NUMERIC,
    dropoff_latitude NUMERIC
);

The database `taxis_and_ubers` is now created, with the table `trips`. We now insert these into the database.

In [34]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://haekim:password@localhost:5432/taxis_and_ubers')

In [38]:
date_ptr = '2009-01'

while date_ptr != '2024-01':
    date_data = pd.read_parquet(f'../data/tr_data/{date_ptr}.parquet')
    date_data.to_sql('trips', engine, if_exists='append', index=False)
    date_ptr = (pd.to_datetime(date_ptr) + pd.DateOffset(months=1)).strftime('%Y-%m')

Now lets try to read in all the data from January 2023.

In [49]:
df = pd.read_sql_query(
    "SELECT * FROM trips WHERE pickup_datetime >= '2023-01-01'",
    con=engine
)